.cv__card img{
width: 150px;
}
.cv__card{
    border: 1px solid rgba(141, 137, 137, 0.596);
    display: flex;
    padding: 10px;
    align-items: flex-start;
}
.cv__card img{
   border-radius: 50%;
   
}
.name-cv{
    font-size: 24px;
    display: flex;
    align-items: center;
}
.name-cv h4{
    font-size: 20px;
    color: rgba(35, 136, 35, 0.849);
    margin-bottom: 0;
}
.name-cv h5{
    font-size: 20px;
    color: rgba(196, 60, 60, 0.849);
    margin-bottom: 0;
}
.cv__info{
    padding-left: 25px;
}
.cv__info i{
    padding-right: 8px;
}
.info__border{
    display: flex;
    align-items: center;
}
.info__border h5{
    border: 1px dashed #ccc;
    border-radius: 10px;
    color: rgb(145, 141, 141);
    font-weight: 400;
    padding: 2px 10px;
    margin: 2px;
}